
<%= form_for @stock do |f| %>
    <p>
        <%= f.label :barcode %></br>
        <%= f.text_field :barcode %>
    </p>
    <p>
        <%= f.label :name %> </br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :description %></br>        
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.label :quantity %></br>
        <%= f.number_field :quantity, :value => 0 %>
    </p>
    <p>
        <%= f.label :price %></br>
        <%= f.text_field :price, :value => 0 %>
    </p>
    <p>
        <%= f.submit :'Add Stock' %>
    </p>
    
<% end %>
