<% @comments.each do |f| %>
    <div class='comment-single' %>
        <div class='row'>
            <div class='col-md-2'>
                <%= f.updated_at.to_formatted_s(:db) %>
            </div>
            <div class='col-xs-offset-8 col-xs-1'>
                <%= link_to comment_path(f), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-contact-delete' do %>
                  <span class='glyphicon glyphicon-remove btn btn-default'></span>
                <% end %>
            </div>
            
            
            <div class='col-xs-1'>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-comment_<%= f.id %>"><span class='glyphicon glyphicon-pencil'></button>
                <div class="modal fade" id='edit-comment_<%= f.id %>' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class='modal-header'>
                                Edit comment
                            </div>
                            <div class='modal-body'>
                                <div class='container'>
                                    <%= render 'contacts/commentform',obj: f %>
                                </div>
                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        
        
        <br>
        
        
        <div class='row'>
            <div class='col-md-12'>
                <%= f.comment_body %>
            </div>
        </div>
    </div>
    <hr>

<% end %>