<div class='center'><h1>Client List</h1></div>
<div class='containner'>
<div class='row'>
    <div id='contact-lookup'>
        <%= form_tag contacts_path, remote: false, method: :get, id: 'contact-lookup-form' do %>
            <div class="form-group no-padding text-center">
                <div class="col-md-2">
                    <%= text_field_tag :search, params[:search], placeholder: "Client Name", autofocus: true,
                                                            class: "form-control search-box input-md" %>
                </div>
                <div class="col-md-2">
                    <%= button_tag(type: :submit, class: "btn btn-md btn-success") do %>
                        <i class="fa fa-search"></i> Lookup a contact
                    <% end %>
                </div>
            </div>     
        <% end %>
    </div>
            <div class='col-md-2 col-md-offset-6'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">New Contact</button>
            
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class='modal-header'>
                            Create New Contact
                        </div>
                        <div class='modal-body'>
                            <div class='container'>
                                <%= render 'form', obj: @contact %>
                            </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
        
</div>
    

<hr>
    <div class='well'>
        <div class='row'>
        <% @contacts.each do |contact| %>
                <div class='col-xs-12 center'>
                        <%= link_to contact.name, contact_path(contact), :class => "btn btn-lg btn-warning contact_button" %>
                    <hr>
                </div>
        <% end %> 
        </div>
    </div>
</div>