<div class = 'center'><h1><%= @contact.name %></h1></div>
<hr>
<%= render 'stocks/errors', obj: @contact %>
<div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='row'>
                <div class='col-xs-3'>
                    <span class='glyphicon glyphicon-earphone'>&nbsp;<%= @contact.mobile_phone %></span>
                </div>
                <div class='col-xs-3'>
                    <span class='glyphicon glyphicon-phone-alt'>&nbsp;<%= @contact.home_phone %></span>
                </div>
                <div class='col-xs-4'>
                    Patch Test: 
                        <% if @contact.patch_test %>
                            <% if @difference_test %>
                                <span style='color: green'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% else %>
                                <span style='color: red'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% end %>
                        <% else %>
                            <span style='color: red'>Not preformed</span>
                        <% end %>
            </div>
            <div class='col-xs-1'>
                <%= link_to contact_path(@contact), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-contact-delete' do %>
                  <span class='glyphicon glyphicon-remove btn btn-default'></span>
                <% end %>
            </div>
            <div class='col-xs-1'>
                <div class='edit_contact'>
                    
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit-contact"><span class='glyphicon glyphicon-pencil'></span></button>
                        <div class="modal fade" id='edit-contact' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class='modal-header'>
                                        Edit Contact
                                    </div>
                                    <div class='modal-body'>
                                        <div class='container'>
                                            <%= render 'form_edit', obj: @contact %>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-3'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-comment">New comment</button>
            <div class="modal fade" id='new-comment' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class='modal-header'>
                            Create New comment
                        </div>
                        <div class='modal-body'>
                            <div class='container'>
                                <%= render 'commentform' %>
                            </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        </div>
        </div>
        <div class='panel-body'>
            <div class='comments-list'>
                <%= render 'comments' %>
            </div>
        </div>
    </div>
</div>