<div class = 'center'><h1><%= @contact.name %></h1></div>
<hr>
<%= render 'stocks/errors', obj: @comment %>
<div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='row'>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-earphone'>&nbsp;<%= @contact.mobile_phone %></span>
                </div>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-phone-alt'>&nbsp;<%= @contact.home_phone %></span>
                </div>
                <div class='col-xs-4'>
                    Patch Test: 
                        <% if @contact.patch_test %>
                            <% if @difference_test %>
                                <span style='color: green'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% else %>
                                <span style='color: red'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% end %>
                        <% else %>
                            <span style='color: red'>Not preformed</span>
                        <% end %>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-3'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">New comment</button>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class='modal-header'>
                            Create New comment
                        </div>
                        <div class='modal-body'>
                            <div class='container'>
                                <%= render 'commentform' %>
                            </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        </div>
        </div>
        <div class='panel-body'>
            <div class='comments-list'>
            <%= render 'comments' %>
            </div>
        </div>
    </div>
</div>