<div class = 'center'><h1><%= @contact.name %></h1></div>

<div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='row'>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-earphone'>&nbsp;<%= @contact.mobile_phone %></span>
                </div>
                <div class='col-xs-4'>
                    <span class='glyphicon glyphicon-phone-alt'>&nbsp;<%= @contact.home_phone %></span>
                </div>
                <div class='col-xs-4'>
                    Patch Test: 
                        <% if @contact.patch_test %>
                            <% if @difference_test %>
                                <span style='color: green'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% else %>
                                <span style='color: red'><%= @contact.patch_test_time.to_formatted_s(:db) %> <%= @set_timer %></span>
                            <% end %>
                        <% else %>
                            <span style='color: red'>Not preformed</span>
                        <% end %>
            </div>
        </div>
        <div class='panel-body'>
            <div class='comments-list'>
            Comments go here
            </div>
        </div>
    </div>
</div>